<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 mp">

  <Identity
    Name="RyzenAdjUWP"
    Publisher="CN=chenx"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="695778d8-33d0-498d-b7a2-16f87624ef42" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>RyzenAdjUWP</DisplayName>
    <PublisherDisplayName>chenx</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="RyzenAdjUWP.MainApp"
      Executable="$targetnametoken$.exe"
      EntryPoint="RyzenAdjUWP.App">
      <uap:VisualElements
        DisplayName="RyzenAdjUWP"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Adjusting Ryzen CPU"
        BackgroundColor="transparent"
        AppListEntry="none">
        <uap:DefaultTile/>
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>